<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body id="body-pd container" class="body-pd">
<header th:replace="layout/layout :: header"></header>
<div th:replace="layout/layout :: lateral"></div>
<h1 class="text-primary">MANTENIMIENTO</h1>
<br>
<h3>Blog</h3>
<br>
<form class="py-3" th:action="@{/blog}" method="post"  th:object="${blogNew}" enctype="multipart/form-data">
  <div class="form-group mb-3">
    <label for="title" class="form-label">Título</label>
    <input type="text" name="title" th:value="${specificBlog.title}" class="form-control" id="title" aria-describedby="emailHelp">
  </div>
  <div class="form-group mb-3">
    <label for="content" class="form-label">Contenido</label>
    <textarea name="content" th:text="${specificBlog.content}" rows="3" class="form-control" id="content"></textarea>
  </div>
  <div class="form-group mb-3">
    <label for="author" class="form-label">Autor</label>
    <input type="text" name="author" th:value="${specificBlog.author}" class="form-control" id="author">
  </div>
  <div class="form-group mb-3">
    <label for="buttonName" class="form-label">Nombre Botón</label>
    <input type="text" name="buttonName" th:value="${specificBlog.buttonName}" class="form-control" id="buttonName">
    <input type="hidden" name="id" th:value="${specificBlog.id}" class="form-control" id="id">
  </div>
  <div class="form-group mb-3">
    <label for="foto" class="col-sm-2 col-form-label">Foto</label>
    <input type="file" name="file" class="form-control" id="foto" />
  </div>
  <button type="submit" value="Blog" class="btn btn-success">Agregar</button>
  <a th:href="@{/mnt_blog}" class="btn btn-danger">Cancelar</a>
</form>


<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>