<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body id="body-pd" class="body-pd">
<header th:replace="layout/layout :: header"></header>
<div th:replace="layout/layout :: lateral"></div>
<h1 class="text-primary">MANTENIMIENTO</h1>
<h3 th:text="${title}"></h3>
<br>
<div class="container-fluid">
  <div class="row justify-content-center">
    <a th:href="@{/mnt_portada}" class="btn btn-success col-xs-12 col-md-2 mx-2">Portada</a>
    <a th:href="@{/mnt_blog}" class="btn btn-success col-xs-12 col-md-2 mx-2">Blog</a>
    <a href="#" class="btn btn-success col-xs-12 col-md-2 mx-2">Nosotros</a>
  </div>
</div>
<br>
<div class="table-responsive-lg">
  <table class="table table-bordered table-hover">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Titulo</th>
      <th scope="col">Descripción</th>
      <th scope="col">Botón</th>
      <th scope="col">Acción</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="items, iStat: ${carrouselList}">
      <th scope="row" th:text="${iStat.index}+1"></th>
      <td th:text="${items.title}"></td>
      <td th:text="${items.description}"></td>
      <td th:text="${items.buttonName}"></td>
      <td>
        <a th:href="@{/carrousel/} + ${items.id}" class="cursor"><i class='bx bxs-edit-alt text-warning'></i></a>
        <a th:href="@{/eliminar/carrousel/} + ${items.id}" onclick="return confirm('Esta seguro de eliminar?')" class="cursor"><i class='bx bxs-trash mx-2 text-danger'></i></a>
      </td>
    </tr>
    </tbody>
  </table>

  <a th:href="@{/carrousel}" class="btn btn-success">Agregar</a>
</div>

<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>