body {
  overflow-x: hidden;
}

.cursor {
  cursor: pointer;
}

.card-container {
  position: relative;
}

.card-container:hover .card-content {

  opacity: 0.8;
}

.card-content {
  cursor: pointer;
  width: 100%;
  opacity: 3;
  transition: 0.5s;
}

.img-size {
  max-width: 100%;
  max-height: 100%;
}

.color-text-primary {
  color: #c5acf8 !important;
}

.color-bg-primary {
  background-color: #C5ACF8 !important;
}

.color-bg-secondary {
  background-color: #F3F3F3 !important;
  color: #C5ACF8;

}

.espacio {
  padding-top: 50px;
  padding-left: 70px;
  padding-right: 70px;

}

.espacio {
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

/*fuente cabezado 7*/
.imagenes {
  width: 100%;
}

.imagenes img {
  height: 475px;
  width: 608px;
  display: inline-block;
}

.imga1 {
  padding: 5px 10px 5px 10px;
  margin: 2px;
  float: left;
  width: 200px;
  text-align: center;
}

.poster {
  align-items: center;
  display: flex;
  justify-content: center;

}

.postercelular.poster {
  min-height: 100% !important;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.cabezera {
  padding-top: 70px
}

.fondo {
  background-color: #F8F8F6;
}

.value-content {
  align-items: center;
  flex-direction: row;
  justify-content: left;
  padding: 0 5px;
  display: flex;
}

.value-content.img-alinear {
  margin: 0 15px 5px 0;
  font-size: 0;
}

.value-content .descripcion {
  font-size: 12px;
  line-height: 1;
  color: #000;
  margin: 0;
}

.color_mis_favoritos {
  color: #000000;
}

.tamaño_mis_favoritos {
  font-size: 40px;
}

.without-border {
  border: none;
}

.img-login {
  background-image: url("../imagenes/amoreFondoLogin.jpg");
  background-position: center center;
}

.icon-logo {
  width: 3rem;
}

.page-body-wrapper {
  min-height: calc(100vh - 63px);
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  padding-left: 0;
  padding-right: 0;
}

.page-body-wrapper:not(.auth-page) {
  padding-top: 63px;
}

.page-body-wrapper.full-page-wrapper {
  width: 100%;
  min-height: 100vh;
}

.main-panel {
  transition: width 0.25s ease, margin 0.25s ease;
  width: calc(100% - 255px);
  min-height: calc(100vh - 63px);
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

@media (max-width: 991px) {
  .main-panel {
    margin-left: 0;
    width: 100%;
  }
}

.content-wrapper {
  background: #f2f8f9;
  padding: 1.5rem 1.7rem;
  width: 100%;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

.container-scroller {
  overflow: hidden;
}

.scroll-container {
  position: relative;
}

.scroll-container.horizontally {
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
}

.scroll-container.vertically {
  overflow-y: hidden;
  height: 100%;
  max-height: 100%;
}

.flex-row {
  flex-direction: row !important;
}

.bg-404 {
  background-color: #c5acf8;
}




